# ===============================
# Python Environment
# ===============================
venv/
env/
ENV/

# ===============================
# Python Cache
# ===============================
__pycache__/
*.pyc
*.pyo
*.pyd

# ===============================
# Jupyter Notebook
# ===============================
.ipynb_checkpoints/

# ===============================
# Dataset (هنرفعها على Drive)
# ===============================
Training/
Testing/

# ===============================
# Models (كبيرة - على Drive)
# ===============================
*.h5
*.keras
*.pt
*.pth
*.joblib
*.pkl

# ===============================
# OS Files
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Logs & Temp
# ===============================
*.log
tmp/
temp/